/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #FF900E;
    --font-primary-color: #131313;
    --font-secondary-color: #727272;

    --bg-color: rgba(255, 144, 14, 0.1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*---------------- Uitilites/Common styles -----------------*/
.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 240px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.title-primary {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--font-primary-color);
}

.details-primary {
    padding: 32px 10px;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-secondary-color);
}

.btn-primary {
    padding: 21px 25px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

/*-----------------------------------------------------------
                    Header section
-------------------------------------------------------------*/
.navbar {
    justify-content: space-between;
    background-color: var(--bg-color);
    padding-top: 50px;
    width: 100%;
}

.nav-logo {
    font-weight: 700;
    font-size: 45px;
    color: var(--font-primary-color);
}

.navbar a {
    margin: 0 10px;
    font-weight: 500;
    font-size: 20px;
    color: #424242;
}

/*-----------------------------------------------------------
                    Main section
-------------------------------------------------------------*/

/* Main Banner Section */
/* ------------------- */
.main-banner.flex {
    flex-direction: column;
}

.main-banner {
    background-color: var(--bg-color);
    padding-bottom: 45px;
}

/* Banner Title */
.main-title {
    text-align: center;
    padding: 81px 280px 50px 280px
}

.title {
    font-weight: 700;
    font-size: 64px;
    color: var(--font-primary-color);
}

/* Banner Image */
.banner-img img {
    width: 100%;
}

/* Our Features Section */
/* -------------------- */
.our-features {
    padding: 85px 301px 130px 310px;
    gap: 76px;
}

/* Our features images */
.our-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* Explore features */
.secondary-color-text {
    font-weight: 500;
    color: var(--font-secondary-color);
}

.primary-color-text {
    color: var(--primary-color);
}

/* Features Specialty Section */
/* -------------------------- */

/* Features specialty details */
.features-specialty {
    padding-bottom: 60px;
}

.feature-details {
    padding-top: 54px;
    padding-right: 90px;
}

.features-title {
    border-left: 5px var(--primary-color) solid;
    padding-right: 146px;
    padding-left: 21px;
}

.specialty {
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
}

.title-secondery {
    font-weight: 600;
    font-size: 20px;
    color: var(--font-primary-color);
}

.details-resize {
    padding: 10px 0;
}

/* Features specialty Image */

.features-specialty-img {
    padding-left: 10px;
    position: relative;
    overflow: visible;
}

.resize-experience {
    padding: 42px 46px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: -60px;
    left: -60px;
}

.years {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

/* Some Facts */
/* ---------- */

/* fact head */
.facts-head {
    padding-top: 130px;
    padding-bottom: 100px;
}

/* Facts Statistic Box */
.facts-stats {
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
}

.fact-box {
    padding: 47px 37px 60px 37px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    box-sizing: border-box;
    /* box-sizing: border-box; */
    transition: transform 0.3s ease-in;
    margin: 18px 10px 40px;
}

.number {
    padding: 8px 0;
    font-weight: 600;
    font-size: 45px;
    color: var(--font-primary-color);
}

.stat-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--font-secondary-color);
}

/* Animation */
/* ----------- */
/* Assignment required animation */
.fact-box:hover>img {
    animation: loop 1s ease-in;
    animation-iteration-count: infinite;
}

.fact-box:hover {
    transform: translateY(-15px);
    box-shadow: 1px 5px 14px rgba(0, 0, 0, 3);
}


.anim-left {
    position: relative;
    animation: leftToRight 4s infinite;
    transition: transform 0.4s ease-in;
}

.anim:hover {
    animation-play-state: paused;
    box-shadow: 1px 5px 14px rgb(60, 60, 60);
}

.anim-right {
    position: relative;
    animation: rightToLeft 4s infinite;
}

.anim-top {
    position: relative;
    animation: fromTop 4s infinite;
}

/* animation-play-state:running; */

@keyframes loop {
    0% {
        transform: translateX(-30%);
    }

    10% {
        transform: translateX(-20%);
    }

    20% {
        transform: translateX(-10%);
    }

    30% {
        transform: translateX(-5%);
    }

    40% {
        transform: translateX(-3%);
    }

    50% {
        transform: translateX(0%);
    }

    60% {
        transform: translateX(-3%);
    }

    70% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(-10%);
    }

    90% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(-30%);
    }
}


@keyframes rightToLeft {
    from {
        transform: translateX(80%);
    }

    to {
        left: 0px;
    }
}

@keyframes leftToRight {
    from {
        transform: translateX(-80%);
    }

    to {
        right: 0px;
    }
}

@keyframes fromTop {
    from {
        transform: translateY(-25%);
    }

    to {
        right: 0px;
    }
}

/* Our Sponsorces Section */
/* ---------------------- */
/* sponsorces title */
.sponsorces-title {
    text-align: center;
    padding: 180px 450px 50px 450px;
}

.sponsorces-name {
    gap: 156px;
}

.sponsorces-name>img {
    filter: grayscale(1);
}


/* --------------------New Section----------------- */
/*------------------- Extra section ----------------*/
/* ------------------------------------------------ */

.with-us {
    padding-top: 120px;
    padding-bottom: 100px;
}

/* Extra More resources */
.more-resources {
    text-align: center;
    padding-bottom: 100px;
}

.light-title {
    font-weight: 500;
    font-size: 25px;
    color: var(--font-secondary-color);
}

/* Resource Boxes */

.resources {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 100px;
}

.resource-box {
    width: 80%;
    padding-bottom: 5px;
    border: 0;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.resource-box img {
    width: 100%;
}

/* stay connected */
.stay-connected {
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
}

/* Subscribtion from */
input {
    padding: 20px 35px;
    border: 1px #FF900E solid;
    border-radius: 50px;
}

.stay-connected input::placeholder {
    color: var(--primary-color);
}

form>.btn-change {
    padding: 20px 35px;
    border: 0;
    border-radius: 50px;
}

/* join our team */
.join-us {
    padding: 100px 20px;
    background-image: linear-gradient(to bottom, rgba(2, 5, 21, 0.809), rgba(11, 11, 11, 0.324)), url(../images/extra/script.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    border: 0;
    border-radius: 15px;
}

.join-us>* {
    color: #FFFFFF;
    padding-right: 160px;
    text-align: left;
}

.join-us>p {
    font-weight: 600;
    font-size: 25px;
    padding-right: 60px;
    padding-left: 0;
    color: #b9b8b8e4;
}


/*-----------------------------------------------------------
                    Footer section
-------------------------------------------------------------*/
.footer {
    padding-top: 100px;
    padding-bottom: 216px;
}

.copyright {
    text-align: center;
    background-color: var(--bg-color);
    border: 0;
    border-radius: 8px;
}


/*-----------------------------------------------------------
-------------------   Midea Quries   ------------------------
-------------------------------------------------------------*/